/* ::selection{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
} */

.search{
    width: 540px;
    border: 2px solid black;
}
.dropdown{
    margin-left: -24px;
    border: 2px solid black;
    border-left: 0px;
}
.space p{
    margin-right: 13px;
    cursor: pointer;
}
.space p:hover{
    color: blue;
    text-decoration: underline;
}
.img1{
    height: 250px;
    width: 100%;
    padding: 13px;
    transition: 0.4s;
}
.bg-border{
    border: 2px solid black;
}
/* .container1{
    width: 1100px;
    ju;
} */
.img1:hover{
    transform: scale(1.1);
    overflow: hidden;
    transition: 0.4s;
}
.hovertitle:hover{
    color: darkgray;
    cursor: pointer;
    transform:translate(10px );
    transition: .4s;


}
.hovertitle{
    transition: .4s;

}
.dd{
    border: 2px solid black;
    background-color: rgb(234, 234, 234);
    /* margin-top: 40px; */
}
.font{
    font-size: 11px;
}
.image-h{
    width: 500px;
    height: 400px;
}
.smallimage{
    height: 90px;
    width: 90px;
}